* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Comic Sans MS', cursive, sans-serif;;
}

section {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-section {
  position: relative;
  width: 100%;
  height: 750px;
  background-image: url('pozadi.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.map-wrapper {
  position: relative;
  flex: 1;
  height: 100%;
  margin-right: 20px;
}

.map-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
}

.pin {
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50% 50% 50% 0;
  transform: rotate(-45deg);
  position: absolute;
  left: 68%;
  top: 57%;
  animation: pulse 2s infinite;
  z-index: 2;
}

.character-bubble {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.speech-bubble {
  background: #ebc99c;
  border-radius: 15px;
  padding: 10px 15px;
  margin-bottom: 0px;
  max-width: 500px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.8);
}

.character-boy1 {
  width: 250px;
}

.character-boy2 {
  width: 220px;
}

.room-section {
  position: relative;
  width: 100%;
  height: 750px;
  background-image: url('pokoj.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.room-section .character-bubble {
  align-items: center;
}

.items-section {
  width: 100%;
  height: 750px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url("Casopis_Vedem\ \(1\).jpg");
  background-color: rgba(255, 255, 255, 0.3); 
}

.items-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.items-left img {
  max-width: 50%;
  height: 150px;
}

.items-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.character-boy3 {
  width: 250px;
}

.transport-section {
  position: relative;
  width: 100%;
  height: 750px;
  background-image: url('koleje.jpg');
  background-size: cover;
  background-position: center;
}

.train {
  position: absolute;
  bottom: 0;
  left: -200px;
  height: 200px;
  animation: moveTrain 5s linear infinite;
}

@keyframes pulse {
  0% {
    transform: rotate(-45deg) scale(1);
    opacity: 1;
  }
  50% {
    transform: rotate(-45deg) scale(1.2);
    opacity: 0.7;
  }
  100% {
    transform: rotate(-45deg) scale(1);
    opacity: 1;
  }
}

@keyframes moveTrain {
  from { left: -200px; }
  to { left: 100%; }
}

@media (max-width: 768px) {
  section {
    flex-direction: column;
  }
  .map-section, .room-section, .items-section {
    flex-direction: column;
    height: auto;
  }
  .map-wrapper, .character-bubble, .items-left, .items-right {
    width: 100%;
    margin: 0;
  }
}

